.Rproj.user
.Rhistory
.RData
.Ruserdata
*.png
*.jpeg
*.jpg
*.pdf
*.xlsx
*.DS_Store
paper/_book
paper/_main_files
paper/paper_bookdown/.Rproj.user
paper/paper_bookdown/.Rproj.user
paper/paper_bookdown/.Rproj.user
test_data/
